/* https://stackoverflow.com/a/49340510/10558918 */

html,body{
   height:100%;
   overflow:hidden;
   margin:0}
   
   
#container{
   height:calc(100% - 20px);
   border:10px solid black;}
   
#canvas{
   height: calc(70% - 10px);   
   border:5px solid black}
   
#text{
   height:calc(30% - 10px);   
   width: 100%;
   border:5px solid "#f2f2f2f"}